body {
  padding: 20px;
}
#listContainer,
#jwtResponseMessage {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section3 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
